UCSC_data_Human/human_genes_010324_NCBI.csv filter=lfs diff=lfs merge=lfs -text
Human_tsv_file/df_humanmiR_NCBI.tsv filter=lfs diff=lfs merge=lfs -text
Human_tsv_file/human_all_genes_no_miR_df_NCBI.tsv filter=lfs diff=lfs merge=lfs -text
Human_tsv_file/human_all_genes_no_miR_df_TX_loc_NCBI.tsv filter=lfs diff=lfs merge=lfs -text
Mouse_tsv_file/df_mousemiR_NCBI.tsv filter=lfs diff=lfs merge=lfs -text
Mouse_tsv_file/mouse_all_genes_no_miR_df_NCBI.tsv filter=lfs diff=lfs merge=lfs -text
Mouse_tsv_file/mouse_all_genes_no_miR_df_TX_loc_NCBI.tsv filter=lfs diff=lfs merge=lfs -text
UCSC_data_Mouse/mouse_genes_020324_NCBI.csv filter=lfs diff=lfs merge=lfs -text
Mouse_csv_file[[:space:]][[:space:]]/mouse_exonic_miR(gene_type)_NCBI.csv filter=lfs diff=lfs merge=lfs -text
Mouse_csv_file[[:space:]][[:space:]]/mouse_intronic_miR(gene_type)_NCBI.csv filter=lfs diff=lfs merge=lfs -text
Human_csv_file[[:space:]]/human_exonic_miR(gene_type)_NCBI.csv filter=lfs diff=lfs merge=lfs -text
Human_csv_file[[:space:]]/human_exonic_miR_NCBI.csv filter=lfs diff=lfs merge=lfs -text
Human_csv_file[[:space:]]/human_intronic_miR(gene_type)_NCBI.csv filter=lfs diff=lfs merge=lfs -text
Human_excel_file[[:space:]][[:space:]]/Human_exonic_miR_df.xlsx filter=lfs diff=lfs merge=lfs -text
Human_excel_file[[:space:]][[:space:]]/Human_miR_type_finalized_df.xlsx filter=lfs diff=lfs merge=lfs -text
Human_excel_file[[:space:]][[:space:]]/human_exonic_miR_list(all_host_genes)_NCBI.xlsx filter=lfs diff=lfs merge=lfs -text
Human_excel_file[[:space:]][[:space:]]/human_exonic_miR_list(protein_coding_host_genes)_NCBI.xlsx filter=lfs diff=lfs merge=lfs -text
Mouse_excel_file[[:space:]][[:space:]][[:space:]]/Mouse_exonic_miR_df.xlsx filter=lfs diff=lfs merge=lfs -text
Mouse_excel_file[[:space:]][[:space:]][[:space:]]/Mouse_miR_type_finalized_df.xlsx filter=lfs diff=lfs merge=lfs -text
Mouse_excel_file[[:space:]][[:space:]][[:space:]]/mouse_exonic_miR_list(all_host_genes)_NCBI.xlsx filter=lfs diff=lfs merge=lfs -text
Mouse_excel_file[[:space:]][[:space:]][[:space:]]/mouse_exonic_miR_list(protein_coding_host_genes)_NCBI.xlsx filter=lfs diff=lfs merge=lfs -text
Mouse_miRbase_file[[:space:]]/mmu.gff filter=lfs diff=lfs merge=lfs -text
Human_miRbase_file[[:space:]]/hsa.gff filter=lfs diff=lfs merge=lfs -text
Human_bed_file/human_nonoverlapmiR_NCBI.bed filter=lfs diff=lfs merge=lfs -text
Human_tsv_file/hsa.tsv filter=lfs diff=lfs merge=lfs -text
Human_tsv_file/human_exonic_miR_NCBI.tsv filter=lfs diff=lfs merge=lfs -text
Human_csv_file/human_exonic_miR(gene_type)_NCBI.csv filter=lfs diff=lfs merge=lfs -text
Human_csv_file/human_exonic_miR_NCBI.csv filter=lfs diff=lfs merge=lfs -text
Human_miRbase_file/hsa.gff3 filter=lfs diff=lfs merge=lfs -text
Human_bed_file/human_exonic_miR_NCBI.bed filter=lfs diff=lfs merge=lfs -text
Human_bed_file/hsa.bed filter=lfs diff=lfs merge=lfs -text
Human_bed_file/human_all_genes_no_miR_df_NCBI.bed filter=lfs diff=lfs merge=lfs -text
Human_bed_file/human_exonic_miR_opposite_NCBI.bed filter=lfs diff=lfs merge=lfs -text
Human_bed_file/human_nonexonicmiR_NCBI.bed filter=lfs diff=lfs merge=lfs -text
Human_tsv_file/hsa_finalized.tsv filter=lfs diff=lfs merge=lfs -text
Human_tsv_file/human_exonic_miR_opposite_NCBI.tsv filter=lfs diff=lfs merge=lfs -text
Human_bed_file/human_intronic_miR_NCBI.bed filter=lfs diff=lfs merge=lfs -text
Human_bed_file/human_all_genes_no_miR_df_TX_loc_NCBI.bed filter=lfs diff=lfs merge=lfs -text
Human_bed_file/human_intronic_opposite_miR_NCBI.bed filter=lfs diff=lfs merge=lfs -text
Human_bed_file/human_miR_no_hostmRNA_NCBI.bed filter=lfs diff=lfs merge=lfs -text
Human_tsv_file/human_miR_no_hostmRNA_NCBI.tsv filter=lfs diff=lfs merge=lfs -text
Human_tsv_file/human_intronic_miR_NCBI.tsv filter=lfs diff=lfs merge=lfs -text
Human_tsv_file/human_intronic_opposite_miR_NCBI.tsv filter=lfs diff=lfs merge=lfs -text
